<h1>Sign In</h1>
<div *ngIf="message" class="card large error">
  <p><span class="icon-alert inverse"></span> {{ message }}</p>
</div>
<form
  class="input-group vertical"
  [formGroup]="signinForm"
  (submit)="onSubmit()"
>
  <label for="email">Email</label>
  <input id="email" formControlName="email" type="text" placeholder="email" />

  <label for="password">Password</label>
  <input formControlName="password" type="password" placeholder="password" />

  <div class="input-group">
    <button class="primary bordered medium">Sign In</button>
  </div>
</form>
